/* You CSS goes in here */
/*  
Lab name: Experimental Biochemistry
Exp name: DNA analysis by agarose gel electrophoresis
File name: main.css
Developer: Prakriti Dhang
*/

.card {
    margin-bottom: 5px;
}

.img-container {
    /*width: 100%;*/

    display: inline-block;
    position: relative;
}


/* .poscol{
    width: 100%;
    min-width: 23px;
    min-height: 1px;
    } */

#agelcase {
    position: relative;
    width: 17%;
    top: 1%;
    left: 4%;

}

#agel {
    position: absolute;
    width: 9.6%;
    top: 24%;
    left: 7.8%;
    /*animation: age1 10s linear;*/
    transition: transform 4s ease-in-out;
    z-index: 5;
}



#tube {
    position: absolute;
    width: 12%;
    top: 50%;
    left: 50%;
    /*display: none;*/

}

#tubemeter {
    position: absolute;
    width: 2%;
    top: 10%;
    left: 65%;
    cursor:grabbing;
    z-index: 20;
    rotate: 30deg;
    /*display: none;*/


}

#peptitea {
    position: absolute;
    width: 2%;
    top: 9%;
    left: 53%;
    cursor:pointer;
    z-index: 20;
    rotate: 30deg;
    /*display: none;*/


}
#peptiteb {
    position: absolute;
    width: 2%;
    top: 9%;
    left: 55.5%;
    cursor:pointer;
    z-index: 20;
    rotate: 30deg;
    /*display: none;*/


}
#peptitec {
    position: absolute;
    width: 2%;
    top: 9%;
    left: 58%;
    cursor:pointer;
    z-index: 20;
    rotate: 30deg;
    /*display: none;*/


}
#peptited {
    position: absolute;
    width: 2%;
    top: 9%;
    left: 61%;
    cursor:pointer;
    z-index: 20;
    rotate: 30deg;
    /*display: none;*/


}

#buffer {
    position: absolute;
    width: 4%;
    top: 40%;
    left: 70%;
    /*display: none;*/

}

#buffertext {
    position: absolute;
    width: 4%;
    top: 61%;
    left: 69.9%;
    /*display: none;*/

}



#voltage {

    position: absolute;
    width: 22%;
    top: 120%;
    left: 20%;

}

#case {
    position: absolute;
    width: 35%;
    top: 220%;
    left: 2%;

}

#myCanvas1 {
    position: absolute;
    width: 11%;
    top: 223%;
    left: 16.5%;
    display: block;
}

/* #negativedot {
    position: absolute;
    width: 1%;
    top: 273.2%;
    left: 4.5%;
}

#positivedot {
    position: absolute;
    width: 1%;
    top: 227.5%;
    left: 33.3%;
}

#vnegativedot {
    position: absolute;
    width: 0.8%;
    top: 144%;
    left: 27%;
}

#vpositivedot {
    position: absolute;
    width: 0.8%;
    top: 144%;
    left: 29%;
} */

/* JS plumb connection starts*/

.demo {
    /* for IE10+ touch devices */
    touch-action: none;
}



.jtk-overlay {
    z-index: 51;
}

.jtk-endpoint {
    z-index: 50;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}






.littledot {
    cursor: pointer;
    width: 5%;
    height: 5%;
    /* background-image: url(./images/littledot.png);*/
    z-index: 5;
    position: absolute;
    border-radius: 2%;

}

.littledot-hover-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}

#ld1 {
    position: absolute;
    width: 1%;
    top: 277%;
    left: 4.5%;
}

#ld2 {
    position: absolute;
    width: 1%;
    top: 230%;
    left: 33.3%;

}

#ld3 {
    position: absolute;
    width: 0.8%;
    top: 145.5%;
    left: 22.1%;
}

#ld4 {
    position: absolute;
    width: 0.8%;
    top: 145.5%;
    left: 24%;
}

path,
.jtk-endpoint {
    cursor: pointer;
}

.cmdLink detach {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}




/* JS plumb connection ends*/

#sideviewcase {
    position: absolute;
    width: 35%;
    top: 220%;
    left: 50%;
}

#agel1 {
    position: absolute;
    top: 224%;
    left: 14.5%;
    width: 13%;
    z-index: 10;

    /*transition: transform 4s ease-in-out;*/
}

#uvmachine {
    position: absolute;
    width: 30%;
    top: 320%;
    left: 10%;
    z-index: -10;
}

#output {
    position: absolute;
    width: 11%;
    top: 365%;
    left: 18.5%;
    display: block;
    display: none;

    /*transition: transform 4s ease-in-out;*/
}

#myCanvas2 {
    position: absolute;
    width: 11%;
    top: 365%;
    left: 18.5%;
    display: block;
}
#myCanvasuv1{
    position: absolute;
    width: 15%;
    height:120%;
    top: 350%;
    left: 11%;
    display: block;
}
#myCanvasuv2 {
    position: absolute;
    width: 14%;
    height:120%;
    top: 350%;
    left: 25%;
    display: block;
    rotate: 180deg;
}


#myCanvass1 {
    position: absolute;
    width: 8.6%;
    height: 31%;
    top: 238%;
    left: 52.95%;

}


#myCanvass2 {
    position: absolute;
    width: 8.7%;
    height: 31%;
    top: 238%;
    left: 74%;

}

#myCanvass3 {
    position: absolute;
    width: 34.8%;
    height: 9.4%;
    top: 229%;
    left: 50.1%;

}

#myCanvass4 {
    position: absolute;
    width: 12.5%;
    height: 18.5%;
    top: 238%;
    left: 61.5%;
    z-index: 1;

}


#myCanvasv1 {
    position: absolute;
    width: 1.2%;
    height: 8%;
    top: 141.2%;
    left: 26.2%;
    cursor: pointer;
    display: none;

}

#myCanvast1 {
    position: absolute;
    width: 1%;
    height: 8%;
    top: 165.6%;
    left: 26.3%;
    cursor: pointer;
    display: none;

}

#myCanvasvp {
    position: absolute;
    width: 1.2%;
    height: 8%;
    top: 141%;
    left: 34.5%;
    cursor: pointer;
    display: none;
}

#myCanvasvn {
    position: absolute;
    width: 1.2%;
    height: 8%;
    top: 155%;
    left: 34.5%;
    cursor: pointer;
    display: none;

}
#myCanvasrn {
    position: absolute;
    width: 1.2%;
    height: 8%;
    top: 178%;
    left: 29%;
    cursor: pointer;
    display: none;

}

#textvoltimer {
    position: absolute;
    width: 4%;
    height: 14%;
    top: 144%;
    left: 29%;
}



#casecover {
    position: absolute;
    top: 150%;
    left: 2%;
}

#sideviewcasetext {
    position: absolute;
    width: 5%;
    height: 10%;
    top: 265%;
    left: 65%;
}

#sampledrop1 {
    position: absolute;
    width: 0.5%;
    height: 7%;
    top: 268%;
    left: 15%;
    z-index: 10;
    color: blue;
   display: none;
}

#sampledrop2 {
    position: absolute;
    width: 0.5%;
    height: 7%;
    top: 255%;
    left: 15%;
    z-index: 10;
    display: none;
}


#sampledrop3 {
    position: absolute;
    width: 0.5%;
    height: 7%;
    top: 243%;
    left: 15%;
    z-index: 10;
    display: none;

}

#sampledrop4 {
    position: absolute;
    width: 0.5%;
    height: 7%;
    top: 230%;
    left: 15%;
    z-index: 10;
    display: none;
    
}

/* Sample migrate*/
#sample1 {
    position: absolute;
    width: 12%;
    height: 7%;
    top: 268%;
    left: 15%;
    z-index: 10;
   
}

#sample2 {
    position: absolute;
    width: 12%;
    height: 7%;
    top: 255%;
    left: 15%;
    z-index: 10;
}


#sample3 {
    position: absolute;
    width: 12%;
    height: 7%;
    top: 243%;
    left: 15%;
    z-index: 10;

}

#sample4 {
    position: absolute;
    width: 12%;
    height: 7%;
    top: 230%;
    left: 15%;
    z-index: 10;
    
}

